.Modal {
    position: fixed;
    top: 30%;
    left: 30%;
    width: 40%;
    height: 30%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #000;
    font-size: 24px;
    z-index: 150;
    border-radius: 10px;
    transition: all 0.5s;
}
/* 
@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
} */

.Modal > div {
    margin-top: 25px;
}
.Modal > div > button {
    background-color: #e0e0e0;
}
.Modal > div > button:hover {
    background-color: #b0b0b0;
}